<%- include('partials/head', {title : "anasayfa"}) %>

bu anasayfa içeriği.

<% if (data) { %>
    <span>Hoşgeldin,</span> <%= data %>
    <a href="/logout">çıkış yapmak için tıkla</a>
<%} else { %>
    <a href="/login">giriş yapmak için tıkla.</a>
<%} %>

<%- include('partials/end') %>